@import '/scss/variables.scss';

#mobile-wrap {
	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 100px;
	}

	.info-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;

		span {
			font-family: $font;
			font-size: 34px;
			font-weight: 500;
			font-style: normal;
			line-height: 150%;
			letter-spacing: -0.646px;
			text-transform: capitalize;
			color: #181a20;

			&.white {
				color: #ffffff;
			}
		}
	}

	.trend-properties {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 0px 10px;

		.container {
			flex-direction: column;
			width: 100%;

			.card-box {
				position: relative;
				display: flex;
				flex-direction: row;
				margin-top: 25px;

				.empty-list {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 280px;
				}

				.trend-property-swiper {
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 400px;

					.trend-property-slide {
						display: flex;
						width: 98%;
						height: auto;

						.trend-card-box {
							position: relative;
							display: flex;
							flex-direction: column;
							width: 100%;
							height: 375px;

							.card-img {
								position: relative;
								width: 100%;
								height: 203px;
								border-radius: 12px 12px 0px 0px;
								background-size: cover;
								cursor: pointer;

								div {
									position: absolute;
									bottom: 12px;
									left: 12px;
									padding: 8px 12px;
									border-radius: 6px;
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
									background: #fff;
								}
							}

							.info {
								display: flex;
								flex-direction: column;
								box-sizing: border-box;
								padding: 20px 22px 17px;
								border: 1px solid rgba(196, 196, 196, 0.71);
								border-top: none;
								border-radius: 0px 0px 12px 12px;
								background: #fff;
								box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

								.title {
									overflow: hidden;
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									text-transform: capitalize;
									text-overflow: ellipsis;
									white-space: nowrap;
									color: #181a20;
									cursor: pointer;
								}

								.desc {
									overflow: hidden;
									margin-top: 5px;
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									text-overflow: ellipsis;
									white-space: nowrap;
									color: #717171;
								}

								.options {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									margin-top: 15px;

									div {
										display: flex;
										flex-direction: row;

										img {
											width: 17px;
											height: 17px;
											margin-right: 5px;
										}

										span {
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											color: #181a20;
										}
									}
								}

								.bott {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;

									p {
										font-family: $font;
										font-size: 13px;
										font-weight: 400;
										font-style: normal;
										line-height: normal;
										text-transform: capitalize;
										color: #181a20;
									}

									button {
										box-sizing: border-box;
										width: 16px;
										height: 16px;
										margin-left: 7px;
									}

									.view-like-box {
										display: flex;
										flex-direction: row;
										align-items: center;
										gap: 7px;

										.view-cnt {
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											text-overflow: ellipsis;
											color: #717171;
										}
									}
								}
							}
						}
					}
				}

				.trend-card-box {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 300px;
					height: 375px;

					.card-img {
						position: relative;
						width: 100%;
						height: 203px;
						border-radius: 12px 12px 0px 0px;
						background-size: cover;
						cursor: pointer;

						div {
							position: absolute;
							bottom: 12px;
							left: 12px;
							padding: 8px 12px;
							border-radius: 6px;
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
							background: #fff;
						}
					}

					.info {
						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						padding: 20px 22px 17px;
						border: 1px solid rgba(196, 196, 196, 0.71);
						border-top: none;
						border-radius: 0px 0px 12px 12px;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

						.title {
							overflow: hidden;
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							text-transform: capitalize;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #181a20;
							cursor: pointer;
						}

						.desc {
							overflow: hidden;
							margin-top: 5px;
							font-family: $font;
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							line-height: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #717171;
						}

						.options {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							margin-top: 15px;

							div {
								display: flex;
								flex-direction: row;

								img {
									width: 17px;
									height: 17px;
									margin-right: 5px;
								}

								span {
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}

						.bott {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							p {
								font-family: $font;
								font-size: 13px;
								font-weight: 400;
								font-style: normal;
								line-height: normal;
								text-transform: capitalize;
								color: #181a20;
							}

							button {
								box-sizing: border-box;
								width: 16px;
								height: 16px;
								margin-left: 7px;
							}

							.view-like-box {
								display: flex;
								flex-direction: row;
								align-items: center;
								gap: 7px;

								.view-cnt {
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									text-overflow: ellipsis;
									color: #717171;
								}
							}
						}
					}
				}
			}
		}
	}

	.popular-properties {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 10px 10px;
		background: #f6f6f6;

		.container {
			flex-direction: column;
			align-items: center;
			width: 100%;

			.card-box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				height: auto;
				margin-top: 25px;

				.popular-property-swiper {
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 390px;

					.popular-property-slide {
						display: flex;
						width: 98%;
						height: auto;
					}
				}

				.popular-card-box {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 425px;

					.card-img {
						position: relative;
						width: 100%;
						height: 203px;
						border-radius: 12px 12px 0px 0px;
						background-size: cover;
						cursor: pointer;

						div.status {
							position: absolute;
							top: 20px;
							left: 20px;
							display: flex;
							align-items: center;
							padding: 6px 34px;
							border-radius: 6px;
							background: #eb6753;

							img {
								width: 14px;
								height: 14px;
							}

							span {
								margin-left: 5px;
								font-family: $font;
								font-size: 12px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								text-transform: uppercase;
								color: #fff;
							}
						}

						div.price {
							position: absolute;
							bottom: 20px;
							left: 20px;
							padding: 8px 12px;
							border-radius: 6px;
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
							background: #fff;
						}
					}

					.info {
						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						padding: 20px 22px 17px;
						border: 1px solid rgba(196, 196, 196, 0.71);
						border-top: none;
						border-radius: 0px 0px 12px 12px;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

						.title {
							overflow: hidden;
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							text-transform: capitalize;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #181a20;
							cursor: pointer;
						}

						.desc {
							overflow: hidden;
							margin-top: 5px;
							font-family: $font;
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							line-height: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #717171;
						}

						.options {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							margin-top: 15px;

							div {
								display: flex;
								flex-direction: row;

								img {
									width: 17px;
									height: 17px;
									margin-right: 5px;
								}

								span {
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}

						.bott {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							p {
								font-family: $font;
								font-size: 13px;
								font-weight: 500;
								font-style: normal;
								line-height: normal;
								text-transform: capitalize;
								color: #181a20;
							}

							button {
								box-sizing: border-box;
								width: 16px;
								height: 16px;
								margin-left: 7px;
							}

							.view-like-box {
								display: flex;
								flex-direction: row;
								align-items: center;
								gap: 7px;

								.view-cnt {
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									text-overflow: ellipsis;
									color: #717171;
								}
							}
						}
					}
				}
			}

			.pagination-box {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.swiper-pagination-bullet.swiper-pagination-bullet-active {
					background: #000000;
				}

				.swiper-popular-next {
					margin-left: 20px;
					cursor: pointer;
				}

				.swiper-popular-prev {
					margin-right: 20px;
					cursor: pointer;
				}
			}
		}
	}

	.video-frame {
		width: 100%;
		height: 300px;
		margin: 20px 0;
		background: black;
		box-shadow: -3px 0px 20px 14px #34343480;
		transform: perspective(0px);
	}

	.top-properties {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 0px 10px;

		.container {
			display: flex;
			flex-direction: column;
			width: 100%;

			.card-box {
				position: relative;
				display: flex;
				flex-direction: row;
				margin-top: 25px;

				.top-property-swiper {
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 400px;

					.top-property-slide {
						display: flex;
						width: 98%;
						height: auto;

						.top-card-box {
							position: relative;
							display: flex;
							flex-direction: column;
							width: 100%;
							height: 375px;

							.card-img {
								position: relative;
								width: 100%;
								height: 203px;
								border-radius: 12px 12px 0px 0px;
								background-size: cover;
								cursor: pointer;

								div {
									position: absolute;
									bottom: 12px;
									left: 12px;
									padding: 8px 12px;
									border-radius: 6px;
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
									background: #fff;
								}
							}

							.info {
								display: flex;
								flex-direction: column;
								box-sizing: border-box;
								padding: 20px 22px 17px;
								border: 1px solid rgba(196, 196, 196, 0.71);
								border-top: none;
								border-radius: 0px 0px 12px 12px;
								background: #fff;
								box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

								.title {
									overflow: hidden;
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									text-transform: capitalize;
									text-overflow: ellipsis;
									white-space: nowrap;
									color: #181a20;
									cursor: pointer;
								}

								.desc {
									overflow: hidden;
									margin-top: 5px;
									font-family: $font;
									font-size: 13px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									text-overflow: ellipsis;
									white-space: nowrap;
									color: #717171;
								}

								.options {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									margin-top: 15px;

									div {
										display: flex;
										flex-direction: row;

										img {
											width: 17px;
											height: 17px;
											margin-right: 5px;
										}

										span {
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											color: #181a20;
										}
									}
								}

								.bott {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;

									p {
										font-family: $font;
										font-size: 13px;
										font-weight: 400;
										font-style: normal;
										line-height: normal;
										text-transform: capitalize;
										color: #181a20;
									}

									button {
										box-sizing: border-box;
										width: 16px;
										height: 16px;
										margin-left: 7px;
									}

									.view-like-box {
										display: flex;
										flex-direction: row;
										align-items: center;
										gap: 7px;

										.view-cnt {
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											text-overflow: ellipsis;
											color: #717171;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.top-agents {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 20px 10px;
		background: #f6f6f6;

		.container {
			position: relative;
			flex-direction: column;
			align-items: center;
			width: 100%;

			.wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
				margin-top: 25px;

				.top-agents-swiper {
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 280px;

					.top-agents-slide {
						display: flex;
						width: 98%;
						height: auto;

						.top-agent-card {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 100%;
							height: 280px;

							img {
								width: 209px;
								height: 209px;
								border-radius: 50%;
								cursor: pointer;
								object-fit: cover;
							}

							strong {
								margin-top: 10px;
								font-family: $font;
								font-size: 24px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								text-align: center;
								text-transform: capitalize;
								color: #181a20;
								cursor: pointer;
							}

							span {
								font-family: $font;
								font-size: 15px;
								font-weight: 400;
								font-style: normal;
								line-height: 28px;
								text-align: center;
								color: #181a20;
							}
						}
					}
				}
			}
		}
	}

	#footer {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 60px 0px 18px 0px;
		background: #181a20;

		.footer-container {
			width: 1300px;
			height: auto;
			padding: 0 10px;
			margin: 0 auto;

			.main {
				display: flex;
				flex-direction: column;

				.left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 360px;

					.footer-box {
						display: flex;
						flex-direction: column;

						.logo {
							width: 128px;
							height: 52px;
							cursor: pointer;
						}

						span {
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							text-transform: capitalize;
							color: #bebdbd;
						}

						p {
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							text-transform: capitalize;
							color: #fff;
						}

						.media-box {
							margin-top: 12px;
							color: #929495;

							svg {
								margin-right: 22px;
								font-size: 32px;
								cursor: pointer;
							}
						}
					}
				}

				.right {
					display: flex;
					flex-direction: column;

					.bottom {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						margin-top: 60px;

						div {
							display: flex;
							flex-direction: column;

							strong {
								margin-bottom: 3px;
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								text-transform: capitalize;
								color: #fff;
							}

							span {
								margin-top: 25px;
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								color: #bebdbd;
								cursor: pointer;
							}
						}
					}
				}
			}

			.second {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				height: 45px;
				border-top: 1px solid #212329;
				margin-top: 60px;

				span {
					font-family: $font;
					font-size: 14px;
					font-weight: 400;
					font-style: normal;
					line-height: normal;
					color: #bebdbd;
				}
			}
		}
	}
}
