#pc-wrap {
	#hospital-detail-page {
		position: relative;
		padding-top: 87px;
		padding-bottom: 200px;
		background: #fff;

		.hospital-detail-config {
			gap: 30px;
			width: 100%;
			height: auto;
			padding-top: 56px;

			.hospital-info-config {
				gap: 30px;
				width: 100%;
				height: auto;

				.info {
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
					height: auto;

					.left-box {
						width: 50%;
						height: auto;

						.title-main {
							font-family: $font;
							font-size: 30px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
							color: #181a20;
						}

						.top-box {
							flex-direction: row;
							align-items: center;
							gap: 10px;
							width: auto;
							height: auto;
							margin-bottom: 17px;

							.city {
								font-family: $font;
								font-size: 13px;
								font-weight: 400;
								font-style: normal;
								line-height: normal;
								color: #717171;
							}

							.divider {
								width: 1px;
								height: 20px;
								background: #ddd;
							}

							.buy-rent-box {
								flex-direction: row;
								align-items: center;
								gap: 7px;

								.buy-rent {
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #eb6753;
								}
							}

							.date {
								font-family: $font;
								font-size: 15px;
								font-weight: 400;
								font-style: normal;
								line-height: 28px;
								color: #181a20;
							}
						}

						.bottom-box {
							flex-direction: row;
							gap: 15px;
							width: auto;
							height: auto;

							.option {
								flex-direction: row;
								gap: 8px;
								width: auto;
								height: auto;

								p {
									font-family: $font;
									font-size: 15px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}
					}

					.right-box {
						align-items: flex-end;
						width: auto;
						height: auto;

						.buttons {
							flex-direction: row;
							align-items: center;
							gap: 11px;
							width: auto;
							height: auto;
							margin: 0 10px 27px 0;

							p {
								font-family: $font;
								font-size: 18px;
								font-weight: 400;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.52px;
								text-align: right;
								text-transform: capitalize;
								color: #181a20;
							}

							.button-box {
								flex-direction: row;
								align-items: center;
								gap: 5px;
							}
						}

						img {
							width: 28px;
							height: 27px;
						}

						svg {
							width: 28px;
							height: 27px;
							cursor: pointer;
						}

						p {
							font-family: $font;
							font-size: 26px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.52px;
							text-align: right;
							text-transform: capitalize;
							color: #181a20;
						}

						span {
							font-family: $font;
							font-size: 15px;
							font-weight: 400;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.3px;
							text-align: right;
							text-transform: capitalize;
							color: #181a20;
						}
					}
				}

				.images {
					gap: 10px;
					width: 100%;
					height: auto;

					.main-image {
						width: 100%;
						height: 600px;

						img {
							width: 100%;
							height: 100%;
							border-radius: 12px;
							object-fit: cover;
						}
					}

					.sub-images {
						flex-direction: row;
						gap: 10px;
						width: 100%;
						height: auto;

						.sub-img-box {
							width: 120px;
							height: 120px;
							cursor: pointer;

							img {
								width: 100%;
								height: 100%;
								border-radius: 12px;
								object-fit: cover;
							}
						}
					}
				}
			}

			.hospital-desc-config {
				flex-direction: row;
				gap: 22px;
				width: 100%;
				height: auto;

				.left-config {
					gap: 40px;
					width: 960px;
					height: auto;

					.options-config {
						flex-direction: row;
						gap: 47.5px;
						width: 100%;
						height: auto;

						.option {
							flex-direction: row;
							gap: 17px;
							width: auto;
							height: auto;

							.svg-box {
								justify-content: center;
								align-items: center;
								width: 56px;
								height: 50px;
								border: 1px solid #ddd;
								border-radius: 12px;

								img {
									width: 35px;
									height: auto;
								}
							}

							.option-includes {
								width: auto;
								height: auto;

								.title {
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}

								.option-data {
									font-family: $font;
									font-size: 15px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}
					}

					.prop-desc-config {
						gap: 50px;
						width: 100%;
						height: auto;
						padding: 29px 38px 50px 38px;
						border: 1px solid #c4c4c4;
						border-radius: 12px;

						.top {
							gap: 30px;
							width: 100%;
							height: auto;

							.title {
								font-family: $font;
								font-size: 17px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #181a20;
							}

							.desc {
								max-height: 104px;
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								line-height: 26px;
								color: #181a20;
							}
						}

						.bottom {
							gap: 30px;
							width: 100%;
							height: auto;

							.title {
								font-family: $font;
								font-size: 17px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #181a20;
							}

							.info-box {
								flex-direction: row;
								gap: 230px;
								width: 100%;
								height: auto;

								.left,
								.right {
									.info {
										display: flex;
										flex-direction: row;
										gap: 38px;
										width: auto;
										height: auto;

										.title {
											width: 121px;
											font-family: $font;
											font-size: 14px;
											font-weight: 600;
											font-style: normal;
											line-height: 35px;
											color: #181a20;
										}

										.data {
											width: 88px;
											font-family: $font;
											font-size: 14px;
											font-weight: 400;
											font-style: normal;
											line-height: 35px;
											color: #181a20;
										}
									}
								}
							}
						}
					}

					.floor-plans-config {
						gap: 30px;
						width: 100%;
						height: auto;
						padding: 30px 38px;
						border: 1px solid #c4c4c4;
						border-radius: 12px;

						.title {
							font-family: $font;
							font-size: 17px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						.image-box {
							width: 100%;
							height: 510px;
							border: 1px solid #c4c4c4;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.address-config {
						gap: 30px;
						width: 100%;
						height: auto;
						padding: 30px 38px;
						border: 1px solid #c4c4c4;
						border-radius: 12px;

						.title {
							font-family: $font;
							font-size: 17px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						.map-box {
							width: 100%;
							height: 400px;

							iframe {
								border-radius: 12px;
							}
						}
					}

					.reviews-config {
						width: 100%;
						height: auto;
						padding: 30px 38px 45px 38px;
						border: 1px solid #c4c4c4;
						border-radius: 12px;

						.filter-box {
							flex-direction: row;
							justify-content: space-between;
							width: 100%;
							height: auto;
							margin-bottom: 30px;

							.review-cnt {
								flex-direction: row;
								align-items: center;
								gap: 12px;
								width: auto;
								height: auto;

								.reviews {
									width: 153.6px;
									font-family: $font;
									font-size: 17px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}

							.select-box {
								flex-direction: row;
								gap: 10px;
								width: auto;
								height: auto;

								.sort-title {
									font-family: $font;
									font-size: 14px;
									font-weight: 400;
									font-style: normal;
									line-height: 26px;
									color: #717171;
								}

								.select-main {
									width: 140px;
									border: none;
									font-family: $font;
									font-size: 14px;
									font-weight: 400;
									font-style: normal;
									line-height: 26px;
									color: #181a20;
									outline: none;
								}
							}
						}

						.review-list {
							gap: 20px;
							width: 100%;
							height: auto;

							.review-config {
								width: 100%;
								height: auto;
								padding-bottom: 10px;
								border-bottom: 1px solid #c4c4c4;

								.review-mb-info {
									flex-direction: row;
									justify-content: space-between;
									width: 100%;
									height: auto;

									.img-name-box {
										flex-direction: row;
										align-items: center;
										gap: 20px;
										width: 30%;

										.img-box {
											justify-content: center;
											align-items: center;
											width: 65px;
											height: 65px;
											border: 1px solid #b9b9b9;
											border-radius: 50%;
											background: #f6f6f6;
											object-fit: cover;
										}

										.name {
											width: 100%;
											font-family: $font;
											font-size: 15px;
											font-weight: 600;
											font-style: normal;
											line-height: normal;
											color: #181a20;
											cursor: pointer;
										}

										.date {
											width: 100%;
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											color: #181a20;
										}
									}

									.review-stars {
										padding-top: 10px;
									}
								}

								.desc-box {
									width: 100%;
									height: auto;
									margin-top: 15px;

									.description {
										font-family: $font;
										font-size: 14px;
										font-weight: 400;
										font-style: normal;
										line-height: 26px;
										color: #181a20;
									}
								}
							}

							.pagination-box {
								display: flex;
								justify-content: center;
								width: 100%;
								height: auto;
								margin-top: 15px;
							}
						}
					}

					.leave-review-config {
						padding: 30px 38px;
						border: 1px solid #c4c4c4;
						border-radius: 12px;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

						.main-title {
							font-family: $font;
							font-size: 17px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						.review-title {
							margin-top: 20px;
							font-family: $font;
							font-size: 14px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						textarea {
							width: 100%;
							height: 120px;
							padding: 20px;
							border: 1px solid #ddd;
							border-radius: 8px;
							margin-top: 8px;
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							line-height: 26px;
							color: #717171;
						}

						.submit-btn {
							display: flex;
							justify-content: flex-end;
							width: 100%;

							button:disabled {
								background: #dfdfdf;
							}

							.submit-review {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 10px;
								width: 256px;
								padding: 16px 30px;
								border: 1px solid #c4c4c4;
								border-radius: 12px;
								margin-top: 30px;
								cursor: pointer;

								.title {
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}
					}
				}

				.right-config {
					gap: 20px;
					width: 318px;
					height: fit-content;
					padding: 30px 25px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					border-radius: 12px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

					.info-box {
						position: relative;
						gap: 8px;
						width: 100%;

						.main-title {
							margin-bottom: 17px;
							font-family: $font;
							font-size: 17px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						.image-info {
							flex-direction: row;
							gap: 18px;
							width: 100%;

							img {
								width: 95px;
								height: 95px;
								border-radius: 50%;
								object-fit: cover;
							}

							.name-phone-listings {
								gap: 5px;

								.name {
									font-family: $font;
									font-size: 15px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}

								.phone-number {
									flex-direction: row;
									align-items: center;
									gap: 10px;
									width: 100%;

									.number {
										font-family: $font;
										font-size: 15px;
										font-weight: 400;
										font-style: normal;
										line-height: 28px;
										color: #181a20;
									}
								}

								.listings {
									font-family: $font;
									font-size: 14px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									color: #181a20;
								}
							}
						}

						.sub-title {
							font-family: $font;
							font-size: 14px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #181a20;
						}

						input {
							width: 100%;
							height: 55px;
							padding: 15px;
							border: 1px solid #ddd;
							border-radius: 8px;
							background: #fff;
							outline: none;

							&::placeholder {
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								line-height: 26px;
								color: #717171;
							}

							&:focus {
								border: 1px solid black;
							}
						}

						textarea {
							width: 100%;
							height: 120px;
							padding: 20px;
							border: 1px solid #ddd;
							border-radius: 8px;
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							line-height: 26px;

							&::placeholder {
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								line-height: 26px;
								color: #717171;
							}

							&:focus {
								border: 1px solid black;
							}
						}

						.send-message {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 10px;
							width: 100%;
							padding: 16px 30px;
							border-radius: 12px;
							background: #f8b519;

							.title {
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #fff;
							}
						}
					}
				}
			}

			.similar-hospitals-config {
				gap: 66px;
				width: 100%;
				margin-top: 45px;

				.title-pagination-box {
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-end;
					width: 100%;
					height: auto;

					.title-box {
						width: 30%;

						.main-title {
							font-family: $font;
							font-size: 30px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
							color: #181a20;
						}

						.sub-title {
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							line-height: 26px;
							color: #181a20;
						}
					}

					.pagination-box {
						flex-direction: row;
						align-items: center;
						gap: 22px;
					}
				}

				.cards-box {
					width: 100%;
					padding-bottom: 10px;

					.similar-homes-swiper {
						width: 100%;

						.similar-homes-slide {
							width: 411px;
						}
					}
				}
			}
		}
	}
}
