/** IMPORTS **/
@import '/scss/variables.scss';
@import '/scss/pc/general.scss';
@import '/scss/pc/homepage/homepage';
@import '/scss/pc/property/property';
@import '/scss/pc/property/detail.scss';
@import '/scss/pc/agent/agent';
@import '/scss/pc/agent/detail.scss';
@import '/scss/pc/mypage/mypage.scss';
@import '/scss/pc/mypage/addNewProperty.scss';
@import '/scss/pc/mypage/myProperties.scss';
@import '/scss/pc/mypage/myFavorites.scss';
@import '/scss/pc/mypage/mySaved.scss';
@import '/scss/pc/mypage/myProfile.scss';
@import '/scss/pc/mypage/myArticles.scss';
@import '/scss/pc/mypage/writeArticle.scss';
@import '/scss/pc/community/community.scss';
@import '/scss/pc/community/detail.scss';
@import '/scss/pc/community/write.scss';
@import '/scss/pc/cs/cs.scss';
@import '/scss/pc/about/about.scss';
@import '/scss/pc/account/join.scss';
@import '/scss/pc/admin/admin.scss';
@import '/scss/pc/member/memberPage.scss';
@import '/scss/pc/member/memberFollows.scss';
@import '/scss/pc/member/memberArticles.scss';
@import '/scss/pc/member/memberProperties.scss';

body {
	-ms-overflow-style: none;

	/* for Internet Explorer, Edge */
	scrollbar-width: none;

	/* for Firefox */
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;

	/* for Chrome, Safari, and Opera */
}

#pc-wrap {
	#top {
		.navbar {
			.navbar-main {
				position: fixed;
				z-index: 99;
				display: flex;
				flex-direction: row;
				align-items: center;
				box-sizing: border-box;
				width: 100%;
				height: 87px;
				padding: 22px 0px;
				border-top: 1px solid rgba(255, 255, 255, 0.07);

				&.transparent {
					background-color: #181a209e;
				}

				.container {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					.logo-box {
						img {
							width: 150px;
							cursor: pointer;
						}
					}

					.router-box {
						position: relative;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						width: 617px;

						div {
							position: relative;
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #eeeeeeed;
							cursor: pointer;

							.community_menu {
								position: absolute;
								top: 30px;
								left: -177%;
								width: 434px;
								height: 33px;
								background: white;
								transition: all ease 2s;

								&:before {
									content: '';
									position: absolute;
									top: 0;
									right: 50%;
									z-index: 0;
									display: block;
									width: 10px;
									height: 10px;
									background: white;
									transform: translateY(-50%) rotate(45deg);
								}
							}
						}
					}

					.user-box {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						width: 270px;

						.join-box {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 184px;
							height: 47px;
							border: 1px solid #ffffff;
							border-radius: 60px;
							cursor: pointer;

							svg {
								margin-right: 10px;
								color: #ffffff;
							}

							span {
								font-family: $font;
								font-size: 14px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #ffffff;
							}
						}

						.login-user {
							img {
								width: 42px;
								height: 42px;
								border-radius: 50%;
								object-fit: cover;
							}
						}
					}

					.lan-box {
						display: flex;
						align-items: center;
						margin-left: 28px;

						.notification-icon {
							color: white;
						}

						.btn-lang {
							border-radius: 4px;

							img {
								width: 24px;
								height: 17px;
								border-radius: 2px;
							}
						}

						.img-flag {
							width: 24px;
							height: 17px;
							border-radius: 2px;
							margin-right: 8px;
						}
					}
				}
			}
		}
	}

	.header-main {
		position: relative;
		width: 100%;
		height: 860px;
		background-image: url('/img/banner/header1.svg');
		background-size: cover;

		.container {
			position: relative;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;

			.search-box {
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 1094px;
				height: 96px;
				padding: 16px 29px;
				border-radius: 12px;
				margin-top: 56px;
				background: rgba(255, 255, 255, 0.28);

				.select-box {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 712px;

					.box {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						box-sizing: border-box;
						width: 213px;
						height: 56px;
						padding: 24px 22px;
						border-radius: 12px;
						background: rgba(255, 255, 255, 0.575);
						cursor: pointer;

						&.on {
							border: 1px solid #000;
							color: #181a20;
							background: #ffffff;
						}

						span {
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							line-height: 26px;
							color: #181a20;
						}

						svg {
						}
					}
				}

				.search-box-other {
					display: flex;
					flex-direction: row;
					align-items: center;

					.advanced-filter {
						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							width: 25px;
							height: 22px;
							margin-right: 10px;
							cursor: pointer;
						}

						span {
							font-family: $font;
							font-size: 20px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							color: #fff;
							cursor: pointer;
						}
					}

					.search-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 62px;
						height: 62px;
						border-radius: 55px;
						margin-left: 12px;
						background: #f17742;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;
							color: #ffffff;
						}
					}
				}

				.filter-location {
					position: absolute;
					top: 96px;
					right: 0px;
					z-index: 2;
					display: flex;
					visibility: hidden;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 40px;
					box-sizing: border-box;
					width: 1094px;
					height: auto;
					min-height: 120px;
					padding: 40px 60px;
					border-radius: 12px;
					background: #ffffff;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

					&.on {
						visibility: visible;
						background: #fffdfd;
						transition: 0.2s ease-out;
					}

					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						width: 295px;

						img {
							width: 122px;
							height: 85px;
							border-radius: 15px;
							cursor: pointer;
						}

						span {
							margin-left: 22px;
							font-family: $font;
							font-size: 20px;
							font-weight: 400;
							font-style: normal;
							line-height: 26px;
							text-transform: capitalize;
							color: #181a20;
							cursor: pointer;
						}

						label {
							line-height: 13px;
						}
					}
				}

				.filter-type {
					position: absolute;
					top: 96px;
					right: 0px;
					z-index: 1;
					display: flex;
					visibility: hidden;
					flex-direction: row;
					justify-content: space-between;
					box-sizing: border-box;
					width: 1094px;
					height: auto;
					min-height: 120px;
					padding: 50px;
					border-radius: 12px;
					background: #fff;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

					&.on {
						visibility: visible;
						background: #fffdfd;
						transition: 0.2s ease-out;
					}

					div {
						position: relative;
						width: 272px;
						height: 168px;
						border-radius: 15px;
						background-size: cover;
						cursor: pointer;

						span {
							position: absolute;
							top: 13px;
							right: 12px;
							padding: 1px 5px 5px 5px;
							border-radius: 2px 2px 0px 0px;
							font-family: $font;
							font-size: 20px;
							font-weight: 700;
							font-style: normal;
							line-height: 26px;
							background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

							// -webkit-background-clip: text;
							// -webkit-text-fill-color: transparent;
							text-transform: capitalize;
						}
					}
				}

				.filter-rooms {
					position: absolute;
					top: 96px;
					right: 0px;
					z-index: 1;
					display: flex;
					visibility: hidden;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					box-sizing: border-box;
					width: 1094px;
					height: auto;
					min-height: 120px;
					padding: 10px 92px;
					border-radius: 12px;
					background: #fff;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

					&.on {
						visibility: visible;
						background: #fffdfd;
						transition: 0.2s ease-out;
					}

					span {
						display: flex;
						align-items: center;
						padding: 10px 30px;
						border: 1px solid #fffdfd;
						font-family: $font;
						font-size: 20px;
						font-weight: 400;
						font-style: normal;
						line-height: 26px;
						color: #181a20;
						cursor: pointer;

						&:hover {
							border: 1px solid #b9b9b9;
							border-radius: 5px;
							box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
						}
					}
				}
			}
		}
	}

	.header-basic {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		height: 557px;
		background: black;

		&.auth {
			height: 300px;
		}

		.container {
			margin-top: 175px;

			strong {
				font-family: $font;
				font-size: 48px;
				font-weight: 600;
				font-style: normal;
				line-height: normal;
				letter-spacing: 0.96px;
				text-transform: capitalize;
				color: #fff;
			}

			span {
				font-family: $font;
				font-size: 24px;
				font-weight: 400;
				font-style: normal;
				line-height: 26px;
				color: #fff;
			}
		}
	}

	.review-card {
		display: flex;
		flex-direction: column;
		margin-top: 42px;

		.info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.left {
				display: flex;
				flex-direction: row;

				img {
					width: 55px;
					height: 59px;
					border-radius: 50%;
				}

				div {
					display: flex;
					flex-direction: column;
					margin-left: 8px;

					strong {
						font-family: $font;
						font-size: 15px;
						font-weight: 600;
						font-style: normal;
						line-height: normal;
						color: #181a20;
					}

					span {
						margin-top: 4px;
						font-family: $font;
						font-size: 13px;
						font-weight: 400;
						font-style: normal;
						line-height: normal;
						color: #181a20;
					}
				}
			}

			.right {
				display: flex;
				flex-direction: row;

				svg {
					color: #edf023;
				}
			}
		}

		p {
			margin-top: 10px;
			font-family: $font;
			font-size: 14px;
			font-weight: 400;
			font-style: normal;
			line-height: 26px;
			color: #181a20;
		}

		.reply-button-box {
			flex-direction: row;
			align-items: center;
			gap: 10px;
			width: auto;
			height: auto;
			border-bottom: 1px solid #ddd;

			.reply-text {
				padding-bottom: 10px;
				font-family: $font;
				font-size: 14px;
				font-weight: 400;
				font-style: normal;
				line-height: 26px;
				color: #181a20;
			}
		}
	}

	.chatting {
		.chat-button {
			position: fixed;
			right: 30px;
			bottom: 90px;
			z-index: 999;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			height: 50px;
			border: none;
			border-radius: 50%;
			background: #fff;
			box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
			transition: transform 0.3s;

			&:hover {
				background-color: #fff;
				transform: scale(1.1);
				cursor: pointer;
			}
		}

		.chat-frame {
			position: fixed;
			right: -380px;
			bottom: 150px;
			z-index: 100;
			display: flex;
			flex-direction: column;
			width: 380px;
			height: 500px;
			border-radius: 34px;
			background: rgb(233, 243, 255);
			box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
			transition: right 0.7s ease-in-out;
			transition: right 0.7s ease-in-out;

			&.open {
				right: 10px;
			}

			.chat-top {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 103px;
				border-bottom: 1px solid rgba(205, 205, 205, 0.83);
				font-size: 30px;
				line-height: 54px;
				color: #000000;
			}

			.chat-content {
				position: relative;
				display: flex;
				overflow: auto;
				flex-direction: column;
				justify-content: flex-start;
				width: 100%;
				height: 100%;
				padding: 17px;

				.chat-main {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 100%;

					.welcome {
						display: flex;
						width: auto;
						height: auto;
						padding: 9px;
						border-radius: 20px 20px 20px 0px;
						margin-left: 10px;
						color: #fff;
						background: #9fa7ac;
					}

					.msg-left {
						display: flex;
						width: auto;
						height: auto;
						padding: 9px;
						border-radius: 20px 20px 20px 0px;
						margin-left: 10px;
						color: hsl(193, 12%, 86%);
						background: #34c1d6;
					}
				}
			}

			.chat-bott {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 103px;
				border-top: 1px solid rgba(205, 205, 205, 0.83);

				.msg-input {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 276px;
					height: 50px;
					padding: 20px;
					border: none;
					border-radius: 28px;
					font-family: 'Poppins';
					font-size: 16px;
					font-weight: 400;
					font-style: normal;
					line-height: 24px;
					background: #f7f7f7;
					outline-color: #257677;
				}

				.send-msg-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50px;
					height: 50px;
					border: none;
					border-radius: 50%;
					margin-left: 14px;
					background: #33c1c1;
				}
			}

			.msg-right {
				display: flex;
				width: auto;
				height: auto;
				padding: 9px;
				border-radius: 20px 20px 0px 20px;
				background: #d0ece8;
			}
		}
	}

	#footer {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		padding: 60px 0px 18px 0px;
		background: #181a20;

		.footer-container {
			width: 1300px;
			height: auto;
			margin: 0 auto;

			.main {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 360px;

					.footer-box {
						display: flex;
						flex-direction: column;

						.logo {
							width: 128px;
							height: 52px;
							cursor: pointer;
						}

						span {
							font-family: $font;
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							text-transform: capitalize;
							color: #bebdbd;
						}

						p {
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							text-transform: capitalize;
							color: #fff;
						}

						.media-box {
							margin-top: 12px;
							color: #929495;

							svg {
								margin-right: 22px;
								font-size: 32px;
								cursor: pointer;
							}
						}
					}
				}

				.right {
					display: flex;
					flex-direction: column;

					.top {
						display: flex;
						flex-direction: column;

						strong {
							font-family: $font;
							font-size: 15px;
							font-weight: 600;
							font-style: normal;
							line-height: normal;
							text-transform: capitalize;
							color: #fff;
						}

						div {
							display: flex;
							flex-direction: row;
							align-items: center;
							box-sizing: border-box;
							width: 667px;
							height: 70px;
							padding: 20px 30px;
							border-radius: 12px;
							margin-top: 20px;
							background: #212329;

							input {
								width: 85%;
								border: none;
								margin-right: 10px;
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								line-height: 26px;
								color: #fff;
								background: none;
								outline: none;
							}

							span {
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #fff;
								cursor: pointer;
							}
						}
					}

					.bottom {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						margin-top: 60px;

						div {
							display: flex;
							flex-direction: column;

							strong {
								margin-bottom: 3px;
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								text-transform: capitalize;
								color: #fff;
							}

							span {
								margin-top: 25px;
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								color: #bebdbd;
								cursor: pointer;

								&:hover {
									color: #ffffff;
									text-decoration-line: underline;
								}
							}
						}
					}
				}
			}

			.second {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				height: 45px;
				border-top: 1px solid #212329;
				margin-top: 60px;

				span {
					font-family: $font;
					font-size: 14px;
					font-weight: 400;
					font-style: normal;
					line-height: normal;
					color: #bebdbd;
				}
			}
		}
	}
}

.MuiPaper-root.MuiMenu-paper {
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.advanced-filter-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 662px;
	height: auto;
	padding: 29px 0px 18px 0px;

	.close {
		position: absolute;
		top: 20px;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f6f6f6;
		cursor: pointer;
	}

	.top {
		display: flex;
		flex-direction: column;
		width: 580px;
		height: auto;

		span {
			font-family: $font;
			font-size: 15px;
			font-weight: 600;
			font-style: normal;
			line-height: normal;
			color: #181a20;
		}

		div.search-input-box {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 18px 14px;
			border: 1px solid #ddd;
			border-radius: 8px;
			margin-top: 10px;

			img {
				width: 17px;
				height: 17px;
				filter: brightness(0%);
			}

			input {
				width: 100%;
				height: 25px;
				border: none;
				margin-left: 10px;
				font-family: $font;
				font-size: 14px;
				font-weight: 400;
				font-style: normal;
				line-height: 26px;
				color: #717171;
				outline: none;
			}
		}
	}

	hr {
		width: 100%;
	}

	.middle {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 593px;
		height: auto;

		.row-box {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			height: auto;

			.box {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 285px;
				height: auto;

				span {
					margin-bottom: 10px;
					font-family: $font;
					font-size: 14px;
					font-weight: 600;
					font-style: normal;
					line-height: normal;
					text-transform: capitalize;
					color: #181a20;
				}

				.inside {
					position: relative;
					display: flex;
					flex-direction: row;
					width: 100%;
					height: auto;

					&.space-between {
						justify-content: space-between;
					}

					&.align-center {
						align-items: center;
					}

					div.room {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 46px;
						height: 46px;
						border: 1px solid #ddd;
						font-family: $font;
						font-size: 13px;
						font-weight: 600;
						font-style: normal;
						line-height: normal;
						color: #181a20;
						cursor: pointer;

						&:first-child {
							border-radius: 12px 0px 0px 12px;
						}

						&:last-child {
							border-radius: 0px 12px 12px 0px;
						}

						&.active {
							border: 2px solid #181a20;
						}
					}

					select {
						width: 100%;
						height: 46px;
						padding-left: 13px;
						border: 1px solid #ddd;
						border-radius: 8px;
						font-family: $font;
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						line-height: 26px;
						color: #717171;
						appearance: none;
					}

					.arrow-down {
						position: absolute;
						top: 21px;
						right: 12px;
						width: 15px;
						height: 8px;
						color: #ddd;
					}

					.minus-line {
						width: 11px;
						height: 1px;
						background: #181a20;
					}

					em {
						font-family: $font;
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						line-height: 26px;
						color: #717171;
					}
				}
			}
		}
	}

	.bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 604px;
		height: auto;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				width: 15px;
				height: 15px;
				margin-right: 10px;
				cursor: pointer;
			}

			span {
				font-family: $font;
				font-size: 14px;
				font-weight: 400;
				font-style: normal;
				line-height: 26px;
				color: #181a20;
				cursor: pointer;
				text-decoration-line: underline;
			}
		}

		button {
			width: 185px;
			height: 54px;
			border-radius: 12px;
			font-family: $font;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			line-height: normal;
			color: #fff;
			background: linear-gradient(90deg, #e8543e 0%, #ec6b57 100%);
		}
	}
}

.no-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 30px 20px;

	img {
		width: 56px;
		margin-bottom: 2px;
	}

	p {
		text-align: center;
		color: #bdbdbd;
	}
}

.img-flag {
	width: 24px;
	height: 17px;
	border-radius: 2px;
	margin-right: 8px;
}
