#pc-wrap {
	#community-list-page {
		position: relative;

		.container {
			flex-direction: column;
			gap: 64px;
			padding-top: 100px;

			.main-box {
				flex-direction: row;
				gap: 31px;

				.left-config {
					gap: 30px;
					width: 266px;
					height: fit-content;
					padding: 30px 15px 57px 21px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					border-radius: 12px;
					margin-top: 100px;
					margin-bottom: 50px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

					.image-info {
						flex-direction: row;
						gap: 11px;
						width: 100%;

						img {
							width: auto;
							height: 56px;
							object-fit: contain;
						}

						.community-name {
							.name {
								margin-top: 15px;
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #181a20;
							}
						}
					}

					.tab-button {
						justify-content: center;
						align-items: center;
						width: 216.612px;
						height: 36px;
						padding: 0;
						border: 1px solid #181a20;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-weight: 500;
						font-style: normal;
						line-height: 150%;
						letter-spacing: -0.266px;
						color: #181a20;
					}

					.tab-button.active {
						justify-content: center;
						align-items: center;
						width: 216.612px;
						height: 36px;
						padding: 0;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-weight: 500;
						font-style: normal;
						line-height: 150%;
						letter-spacing: -0.266px;
						color: hsl(240, 33%, 99%);
						background-color: #6bbbf4;
					}
				}

				.right-config {
					width: 100%;
					height: auto;

					.panel-config {
						width: 100%;
						height: auto;

						.title-box {
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							width: 100%;
							height: auto;
							margin-bottom: 45px;

							.left {
								width: 60%;
								height: auto;

								.title {
									font-family: $font;
									font-size: 24px;
									font-weight: 600;
									font-style: normal;
									line-height: normal;
									letter-spacing: 0.24px;
									color: #000;
								}

								.sub-title {
									font-family: $font;
									font-size: 13px;
									font-weight: 700;
									font-style: normal;
									line-height: normal;
									letter-spacing: 0.325px;
									color: #757575;
								}
							}

							.right {
								width: 91px;
								height: 32px;
								border-radius: 4px;
								font-family: $font;
								font-size: 13px;
								font-weight: 500;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.39px;
								color: #fff;
								background: #6bbbf4;
							}
						}

						.list-box {
							flex-direction: row;
							flex-wrap: wrap;
							gap: 30px;
							width: 100%;
							height: auto;
						}
					}
				}
			}

			.similar-articles-config {
				gap: 75px;
				width: 100%;
				height: auto;
				padding: 30px 9px 28px 9px;
				border: 1px solid #c4c4c4;
				border-radius: 10px;

				.similar-articles-title {
					padding-left: 56px;
					font-family: $font;
					font-size: 30px;
					font-weight: 600;
					font-style: normal;
					line-height: normal;
					color: #000;
				}

				.articles-box-row {
					flex-direction: row;
					gap: 5px;
					width: 100%;
					height: auto;
				}
			}

			.pagination-config {
				justify-content: center;
				align-items: center;
				gap: 20px;
				width: 100%;
				padding-left: 270px;
				margin-bottom: 50px;

				.pagination-box {
					justify-content: center;
					align-items: center;
				}

				.total-result {
					p {
						font-family: $font;
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						line-height: 26px;
						text-align: center;
						color: #181a20;
					}
				}
			}
		}
	}
}
