#pc-wrap {
	#community-detail-page {
		position: relative;
		padding-bottom: 135px;

		.container {
			flex-direction: column;
			gap: 64px;
			padding-top: 100px;

			.main-box {
				flex-direction: row;
				gap: 31px;

				.left-config {
					gap: 30px;
					width: 266px;
					height: fit-content;
					padding: 30px 15px 57px 21px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					border-radius: 12px;
					margin-top: 100px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

					.image-info {
						flex-direction: row;
						gap: 11px;
						width: 100%;

						img {
							width: auto;
							height: 56px;
							object-fit: contain;
						}

						.community-name {
							.name {
								margin-top: 15px;
								font-family: $font;
								font-size: 15px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								color: #181a20;
							}
						}
					}

					.tab-button {
						justify-content: center;
						align-items: center;
						width: 216.612px;
						height: 36px;
						padding: 0;
						border: 1px solid #181a20;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-weight: 500;
						font-style: normal;
						line-height: 150%;
						letter-spacing: -0.266px;
						color: #181a20;
					}

					.tab-button.active {
						justify-content: center;
						align-items: center;
						width: 216.612px;
						height: 36px;
						padding: 0;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-weight: 500;
						font-style: normal;
						line-height: 150%;
						letter-spacing: -0.266px;
						color: #4c15d6;
						background-color: #000000;
					}
				}

				.community-detail-config {
					.title-box {
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						height: auto;
						margin-bottom: 45px;

						.left {
							width: 60%;
							height: auto;

							.title {
								font-family: $font;
								font-size: 24px;
								font-weight: 600;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.24px;
								color: #000;
							}

							.sub-title {
								font-family: $font;
								font-size: 13px;
								font-weight: 700;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.325px;
								color: #757575;
							}
						}

						.right {
							width: 91px;
							height: 32px;
							border-radius: 4px;
							font-family: $font;
							font-size: 13px;
							font-weight: 500;
							font-style: normal;
							line-height: normal;
							letter-spacing: 0.39px;
							color: #fff;
							background: #eb6753;
						}
					}

					.config {
						.first-box-config {
							width: 1012px;
							min-height: 500px;
							border: 1px solid #eee;
							border-radius: 8px 8px 0px 0px;
							box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

							.content-and-info {
								flex-direction: row;
								justify-content: space-between;
								width: 100%;
								height: 126px;
								padding: 35px 25px;
								border-bottom: 1px solid #eee;

								.content {
									gap: 12px;

									.content-data {
										font-family: $font;
										font-size: 18px;
										font-weight: 700;
										font-style: normal;
										line-height: normal;
										color: #000;
									}

									.member-info {
										flex-direction: row;
										align-items: center;
										gap: 5px;
										width: auto;
										height: auto;

										.member-img {
											width: 30.023px;
											height: 30px;
											cursor: pointer;
										}

										.member-nick {
											font-family: $font;
											font-size: 13px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											letter-spacing: 0.13px;
											color: #000;
											cursor: pointer;
										}

										.divider {
											width: 1px;
											height: 16px;
											background: #eee;
										}

										.time-added {
											font-family: $font;
											font-size: 12px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											letter-spacing: 0.12px;
											color: #bdbdbd;
										}
									}
								}

								.info {
									flex-direction: row;
									align-items: flex-end;
									gap: 15px;
									width: auto;
									height: auto;

									.icon-info {
										flex-direction: row;
										justify-content: center;
										align-items: center;
										gap: 4px;

										img {
											width: 18.714px;
											height: 16.15px;
										}

										.text {
											padding-top: 2 px;
											font-family: $font;
											font-size: 11px;
											font-weight: 400;
											font-style: normal;
											line-height: normal;
											letter-spacing: -0.22px;
											color: #000;
										}
									}

									.divider {
										width: 1px;
										height: 21px;
										background: #eeeeee;
									}
								}
							}

							.like-and-dislike {
								justify-content: flex-end;
								align-items: center;
								gap: 60px;
								width: 100%;
								height: 100%;
								padding: 25px 25px;

								.top {
									flex-direction: row;
									justify-content: center;
									align-items: center;
									gap: 17px;
									width: 100%;
									height: auto;

									button {
										gap: 5px;
										width: 105.081px;
										height: 45px;
										border: 1px solid #eee;
										border-radius: 2px;
										background: #eb6753;

										p {
											font-family: $font;
											font-size: 13px;
											font-weight: 700;
											font-style: normal;
											line-height: normal;
											letter-spacing: -0.26px;
											color: #fff;
										}
									}
								}
							}
						}

						.second-box-config {
							gap: 11px;
							width: 1012px;
							height: auto;
							padding: 30px 24px;

							.title-text {
								align-self: flex-start;
								font-family: $font;
								font-size: 17px;
								font-weight: 700;
								font-style: normal;
								line-height: normal;
								letter-spacing: -0.34px;
								text-align: center;
								color: #000;
							}

							.leave-comment {
								input {
									width: 100%;
									height: 61px;
									padding: 22px 17px;
									border: 1px solid #eee;
									outline: none;

									::placeholder {
										font-family: $font;
										font-size: 14px;
										font-weight: 500;
										font-style: normal;
										line-height: normal;
										letter-spacing: -0.56px;
										color: #c0c0c0;
									}
								}

								.button-box {
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									width: 100%;
									height: 42px;
									padding-left: 17px;
									border: 1px solid #eee;
									border-top: none;

									p {
										font-family: $font;
										font-size: 14px;
										font-weight: 400;
										font-style: normal;
										line-height: normal;
										letter-spacing: 0.56px;
										color: #000;
									}

									button {
										width: 100.077px;
										height: 100%;
										border-radius: 0;
										font-family: $font;
										font-size: 14px;
										font-weight: 400;
										font-style: normal;
										line-height: normal;
										letter-spacing: 0.56px;
										color: #fff;
										background: #eb6753;
									}
								}
							}
						}

						.comments {
							width: 100%;
							height: auto;
							border: 1px solid #efefef;
							border-top: none;

							.comments-title {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 112.087px;
								padding: 16px 15px;
								border-bottom: 2px solid #eb6753;
								font-family: $font;
								font-size: 14px;
								font-weight: 700;
								font-style: normal;
								line-height: normal;
								letter-spacing: 0.56px;
								color: #eb6753;
							}
						}

						.pagination-box {
							justify-content: center;
							align-items: center;
							width: 100%;
							height: auto;
							margin-top: 30px;
						}

						.comments-box {
							.main-comment {
								gap: 17px;
								width: 100%;
								height: auto;
								padding: 20px 24px;
								border: 1px solid #efefef;
								border-top: none;

								.member-info {
									flex-direction: row;
									justify-content: space-between;
									width: 100%;
									height: auto;

									.name-date {
										flex-direction: row;
										gap: 8px;
										width: auto;
										height: auto;
										cursor: pointer;

										img {
											width: 45.035px;
											height: 45px;
											border-radius: 50%;
											cursor: pointer;
											object-fit: cover;
										}

										.name-date-column {
											.name {
												font-family: $font;
												font-size: 16px;
												font-weight: 700;
												font-style: normal;
												line-height: normal;
												color: #000;
												cursor: pointer;
											}

											.date {
												font-family: $font;
												font-size: 13px;
												font-weight: 400;
												font-style: normal;
												line-height: normal;
												letter-spacing: -0.39px;
												color: #757575;
												cursor: pointer;
											}
										}
									}

									.buttons {
										flex-direction: row;
									}
								}

								.content {
									width: 100%;
									height: auto;

									p {
										font-family: $font;
										font-size: 16px;
										font-weight: 400;
										font-style: normal;
										line-height: normal;
										letter-spacing: -0.48px;
										color: #000;
									}
								}
							}
						}
					}
				}
			}

			.similar-articles-config {
				gap: 75px;
				width: 100%;
				height: auto;
				padding: 30px 9px 28px 9px;
				border: 1px solid #c4c4c4;
				border-radius: 10px;

				.similar-articles-title {
					padding-left: 56px;
					font-family: $font;
					font-size: 30px;
					font-weight: 600;
					font-style: normal;
					line-height: normal;
					color: #000;
				}

				.articles-box-row {
					flex-direction: row;
					gap: 5px;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
