#pc-wrap {
	.cs-page {
		position: relative;
		width: 100%;
		height: auto;
		padding: 60px 0px 60px;

		.container {
			display: flex;
			flex-direction: column;

			.cs-main-info {
				display: flex;
				flex-direction: column;

				.info {
					display: flex;
					flex-direction: column;
					align-items: center;

					span {
						font-family: $font;
						font-size: 35px;
						font-weight: 700;
						font-style: normal;
						line-height: normal;
						letter-spacing: 0.525px;
						color: #000;
					}

					p {
						font-family: $font;
						font-size: 16px;
						font-weight: 400;
						font-style: normal;
						line-height: normal;
						color: #757575;
					}
				}

				.btns {
					display: flex;
					flex-direction: row;
					justify-content: center;
					margin-top: 50px;

					:first-child {
						border-radius: 4px 0 0 4px;
					}

					:last-child {
						border-radius: 0 4px 4px 0;
					}

					div {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 204px;
						height: 46px;
						border: 1px solid #eee;
						font-family: $font;
						font-size: 14px;
						font-weight: 700;
						font-style: normal;
						line-height: normal;
						letter-spacing: 0.42px;
						color: #bdbdbd;
						cursor: pointer;

						&.active {
							border: 1px solid #725ce8;
							color: #725ce8;
							background: #d4def5;
						}
					}
				}
			}

			.cs-content {
				display: flex;
				flex-direction: column;
				margin-top: 25px;

				.title {
					margin-bottom: 25px;
					font-family: $font;
					font-size: 27px;
					font-weight: 700;
					font-style: normal;
					line-height: normal;
					letter-spacing: 0.54px;
					color: #000;
				}

				.pagination {
					display: flex;
					flex-direction: row;
					justify-content: center;
					margin-top: 50px;
				}

				.notice-content {
					.main {
						border: 1px solid #eee;

						.top {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							padding: 25px 33px;

							span {
								font-family: $font;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								line-height: normal;
								text-transform: capitalize;
								color: #000;
							}
						}

						.bottom {
							display: flex;
							flex-direction: column;

							.notice-card {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								padding: 20px 14px 20px 30px;
								border: 1px solid #eee;

								&.event {
									background: #d4def5;
								}

								div {
									padding: 6px 9px;
									border: 1px solid #0a06e7;
									border-radius: 12px;
									font-family: $font;
									font-size: 12px;
									font-weight: 400;
									font-style: normal;
									color: #0a06e7;
								}

								.notice-number {
									width: 39px;
									margin-left: 18px;
									font-family: $font;
									font-size: 14px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #bdbdbd;
								}

								.notice-title {
									width: 1060px;
									font-family: $font;
									font-size: 16px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #000;
								}

								.notice-date {
									font-family: $font;
									font-size: 14px;
									font-weight: 400;
									font-style: normal;
									line-height: normal;
									color: #bdbdbd;
								}
							}
						}
					}
				}

				.faq-content {
					display: flex;
					flex-direction: column;
					margin-top: 25px;

					.categories {
						display: flex;
						flex-direction: row;
						justify-content: center;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 14%;
							height: 40px;
							font-family: $font;
							font-size: 15px;
							font-weight: 400;
							font-style: normal;
							line-height: normal;
							letter-spacing: -0.225px;
							text-align: center;
							color: #bdbdbd;
							cursor: pointer;

							&.active {
								border-bottom: 1px solid #eb6753;
								color: #eb6753;
							}
						}
					}

					.wrap {
						margin-top: 50px;

						.MuiAccordionDetails-root {
							padding: 30px 20px;
							background: #fafafa;
						}

						.badge {
							display: inline-block;
							padding: 4px 10px;
							border: 1px solid #725ce8;
							border-radius: 7px;
							margin: 0 24px;
							color: #725ce8;
						}

						.question {
							.badge {
								color: #fff;
								background: #e92c28;
							}
						}

						.answer {
							display: flex;
							flex-direction: row;
							align-items: center;
							margin-left: 80px;
							white-space: nowrap;

							.badge {
								border: 1px solid #eb6753;
								color: #eb6753;
							}
						}
					}
				}
			}
		}
	}
}
